/* Main */
body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
    background-color: #ffffff;
}

.demoHeaders {
    margin-top: 2em;
}

.icons {
    margin: 0;
    padding: 0;

    & li {
        margin: 2px;
        position: relative;
        padding: 4px 0;
        cursor: pointer;
        float: left;
        list-style: none;
    }

    & span.ui-icon {
        float: left;
        margin: 0 4px;
    }
}

label, input, textarea {
    display: block;
    outline: 0;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;

    &[name=login] {
        margin-bottom: 10px;
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.wrapper {
    position: relative;
    min-width: 160px;
    max-width: 800px;
    margin: 0 auto;
}

.auth {
    position: absolute;
    top: 0;
    right: 0;
}

.answer {
    padding-left: 20px;
}

.disabled {
    display: none;
}

#message {
    width: 100%;
}

.error {
    color: red;
    font-size: 0.9em;
    text-align: center;
}

hr {
    display: block;
    border: none;
    color: #c5c5c5;
    background-color: #c5c5c5;
    height: 1px;
}

#dialog-auth-form, #dialog-comment-form {
    display: none;
}

.ui-widget.ui-widget-content {
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-corner-all {
    margin-right: 0;
}

.list {
    position: relative;
    @include clearfix();
    padding: 5px 0 10px;
    border-bottom: #c5c5c5 solid 1px;

    .datetime {
        margin-top: 2px;
        display: inline-block;
        font-size: 0.8em;
        color: #666666;
        @include clearfix();
    }

    .action {
        display: inline-block;
        color: #5e9ed6;
        @include clearfix();

        span {
            cursor: pointer;
        }
    }
}
