php_value display_errors 1
php_value error_reporting 2047

DirectoryIndex index.php
Options -Indexes

# Blocking proxies
RewriteEngine on
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP:VIA}                 !^$ [OR]
RewriteCond %{HTTP:FORWARDED}           !^$ [OR]
RewriteCond %{HTTP:USERAGENT_VIA}       !^$ [OR]
RewriteCond %{HTTP:X_FORWARDED_FOR}     !^$ [OR]
RewriteCond %{HTTP:PROXY_CONNECTION}    !^$ [OR]
RewriteCond %{HTTP:XPROXY_CONNECTION}   !^$ [OR]
RewriteCond %{HTTP:HTTP_PC_REMOTE_ADDR} !^$ [OR]
RewriteCond %{HTTP:HTTP_CLIENT_IP}      !^$
RewriteRule ^(.*)$ - [F]

php_value memory_limit 256M
php_value upload_max_filesize 100M
php_value post_max_size  100M

#ErrorDocument 500 /error.php?500
#ErrorDocument 404 /error.php?404
#ErrorDocument 401 /error.php?401
#ErrorDocument 403 /error.php?403
